@charset "utf-8";
/* CSS Document */

@font-face
{
    font-family: defaultfont;
    src: local(defaultfont), url("../fonts/OpenSans-Light.ttf") format("opentype");
    font-weight:  normal;
}


@font-face
{
    font-family: defaultfont;
    src: local(defaultfont), url("../fonts/OpenSans-LightItalic.ttf") format("opentype");
    font-style: italic;
}

@font-face
{
    font-family: defaultfont;
    src: local(defaultfont), url("../fonts/OpenSans-Bold.ttf") format("opentype");
    font-weight:  bold;
}
