<div id="web_header">
    <div id="web_header_logo_panel">
        <div id="logo"></div>
        <div id="logo_label">
            <span style="font-size:16pt; font-weight:bold; font-family:arial;">Core Business</span>
            <span style="font-size:11pt; font-weight:bold; font-family:arial;">Management</span>
        </div>
    </div>
    <div id="web_header_style_panel"></div>
    <div id="web_header_right_panel">
        <div id="web_header_right_line"></div>
        <div id="web_header_right_content">
            <div id="web_header_right_content_panel">

                <ul class="nav_dropdown">
                    <li>
                        <a href="#">
                            <div class="web_header_notification">
                                <div class="web_header_notification_text">Day off Request</div>
                                <div class="web_header_notification_icon">
                                    <div class="web_header_notification_icon_data">01</div>
                                </div>
                            </div>
                        </a>
                        <div class="n_dropdown">
dd
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="web_header_notification">
                                <div class="web_header_notification_text">Request Approval</div>
                                <div class="web_header_notification_icon">
                                    <div class="web_header_notification_icon_data">00</div>
                                </div>
                            </div>
                        </a>
                        <div class="n_dropdown">
                            ddaa
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <div class="web_header_notification">
                                <div class="web_header_notification_text">[Your Tasks]</div>
                                <div class="web_header_notification_icon_task">
                                    <div class="web_header_notification_icon_data">15</div>
                                </div>
                            </div>
                        </a>
                        <div class="n_dropdown">
                            ddddd
                        </div>
                    </li>
                </ul>

                <!--Notification-->



                <!--End Notification-->

                <div id="web_header_right_search_panel">
                    <input type="text" class="web_header_right_search_text" placeholder="Find for something you want..." />
                    <input type="submit" class="web_button_gray web_button_search" value="Search" />
                </div>
            </div>
        </div>
    </div>

</div>
<div id="web_body">
    <div id="web_body_side_bar">
        <div id="web_body_side_bar_panel">

            <!--Employee Profile-->
            <div id="web_body_profile_panel">
                <div id="web_body_photo"></div>
                <div id="web_body_profile">
                    <div>Brand No. 27</div>
                    <br/>
                    <div style="font-weight: bold;">
                        <span>Mr. Sochinda Tith</span>
                        <br/>
                        <span style="font-size: 75%">Project Developer</span>
                        <br/>
                        <span style="color: #efc51b; position: relative; top: 5px;">Sign Out</span>
                    </div>
                </div>
            </div>

            <!--Section Menu-->

            <div style="display: inline-block; position: relative; width: 100%">
                <ul class="web_body_process_section">
                    <li class="web_body_process_section">
                        <!--Dashboard-->
                        <div class="web_body_process_panel">
                            <div class="web_body_process_header">Dashboard</div>
                            <ul class="web_body_process">
                                <li class="web_body_process">
                                    <span class="mainicon-home113" style="position: relative; top: 3px; right: 5px;"></span>
                                    ICE Electronices 27</li>
                                <li class="web_body_process">
                                    <span class="mainicon-clock40" style="position: relative; top: 3px; right: 5px;"></span>
                                    My Time Sheet
                                </li>
                            </ul>
                        </div>
                        <!--End Dashboard-->
                    </li>
                    <li class="web_body_process_section">
                        <!--Operation-->
                        <div class="web_body_process_panel">
                            <div class="web_body_process_header">Operation</div>
                            <ul class="web_body_process">
                                <li class="web_body_process">
                                    <span class="mainicon-workers" style="position: relative; top: 3px; right: 5px;"></span>
                                    People
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-boxes2" style="position: relative; top: 3px; right: 5px;"></span>
                                    Inventory
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-shopping73" style="position: relative; top: 3px; right: 5px;"></span>
                                    Sale
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-2440" style="position: relative; top: 3px; right: 5px;"></span>
                                    Technical Services
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-delivery23" style="position: relative; top: 3px; right: 5px;"></span>
                                    Delivery Process
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-rent2" style="position: relative; top: 3px; right: 5px;"></span>
                                    Rental Products
                                </li>
                            </ul>
                        </div>
                        <!--End Operation-->
                    </li>
                    <li class="web_body_process_section">
                        <!--Management-->
                        <div class="web_body_process_panel">
                            <div class="web_body_process_header">Management</div>
                            <ul class="web_body_process">
                                <li class="web_body_process">
                                    <span class="mainicon-accounting1" style="position: relative; top: 3px; right: 5px;"></span>
                                    Accounting
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-person128" style="position: relative; top: 3px; right: 5px;"></span>
                                    HR Management
                                </li>
                            </ul>
                        </div>
                        <!--End Management-->
                    </li>
                    <li class="web_body_process_section">
                        <!--Admin-->
                        <div class="web_body_process_panel">
                            <div class="web_body_process_header">Administration</div>
                            <ul class="web_body_process">
                                <li class="web_body_process">
                                    <span class="mainicon-settings13" style="position: relative; top: 3px; right: 5px;"></span>
                                    System Setting
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-arrow46" style="position: relative; top: 3px; right: 5px;"></span>
                                    System Process
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-television9" style="position: relative; top: 3px; right: 5px;"></span>
                                    Web Monitor
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-clipboard52" style="position: relative; top: 3px; right: 5px;"></span>
                                    Approval
                                </li>
                                <li class="web_body_process">
                                    <span class="mainicon-pile" style="position: relative; top: 3px; right: 5px;"></span>
                                    Reports
                                </li>
                            </ul>
                        </div>
                        <!--End Admin-->
                    </li>
                </ul>
            </div>

            <!--End Section Menu-->

        </div>
    </div>
    <div id="web_body_content">
        <div id="web_body_content_panel">
            <div id="web_body_content_panel_navigator">
                <div id="web_body_content_panel_navigator_title">Welcome Page</div>
                <div id="web_body_content_panel_navigator_control">
                    <ul>
                        <li><button type="button" class="web_button_gray web_navigator_button">
                            <span class="web_navigator_button_icon mainicon-plus24">
                            New</span>
                        </button></li>
                        <li><button type="button" class="web_button_gray web_navigator_button">
                            <span class="web_navigator_button_icon mainicon-folder15">
                            Duplicate</span>
                        </button></li>
                        <li><button type="button" class="web_button_gray web_navigator_button">
                            <span class="web_navigator_button_icon mainicon-slightly">
                            Delete</span>
                        </button></li>
                    </ul>

                    <ul>
                        <li><button type="button" class="web_button_gray web_navigator_button">
                            <span class="web_navigator_button_icon mainicon-envelope4">
                            Email</span>
                        </button></li>
                        <li><button type="button" class="web_button_gray web_navigator_button">
                            <span class="web_navigator_button_icon mainicon-electronic1">
                            Print</span>
                        </button></li>
                    </ul>

                    <ul>
                        <li><button type="button" class="web_button_gray web_navigator_button">
                            <span class="web_navigator_button_icon mainicon-refresh23">
                            Refresh</span>
                        </button></li>
                    </ul>

                </div>
            </div>
            <div id="web_body_content_panel_rounded">
                <div id="content"></div>
            </div>
        </div>
    </div>
</div>
<div id="web_footer">
    <div id="web_body_footer_panel"></div>
    <div id="web_body_footer_line"></div>
</div>
